@import "../../styles/@mixins"

.header
    width: 100%
    min-height: 80px
    display: flex
    align-items: center
    position: fixed
    z-index: 10
    background: white
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px

.header__content
    width: 100%
    max-width: 1110px
    margin: 0 auto
    display: flex
    justify-content: space-between

.header__logo
    @include logo
