@import "../../styles/@mixins"

.header
    width: 100%
    min-height: 80px
    display: flex
    align-items: center
    position: fixed
    z-index: 10
    background: white
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px

.header__content
    width: 100%
    max-width: 1110px
    margin: 0 auto
    display: flex
    justify-content: space-between

.header__logo
    @include logo

.header__burger
    width: 50px
    align-self: center
    transition: 0.3s
    display: flex
    flex-direction: column
    gap: 10px
    position: relative

.header__burger:hover
    opacity: 0.6

.header__burger-line
    transition: all 0.2s ease 0s
    height: 4px
    width: 100%
    background: rgb(33, 37, 41)

.header__burger-line-first_status_opened
    background: linear-gradient(90deg, #B44420, #202020)
    transform: rotate(-45deg)
    position: absolute

.header__burger-line-second_status_opened
    display: none

.header__burger-line-third_status_opened
    background: linear-gradient(90deg, #B44420, #202020)
    transform: rotate(45deg)
    position: absolute

@media screen and (max-width: 1240px)
    .header__content
        padding: 0 60px

@media screen and (max-width: 800px)
    .header__content
        padding: 0 15px
