@import "../../styles/@mixins"

.section
    width: 100%
    display: flex

.section__content
    max-width: 1110px
    width: 100%
    margin: 100px auto 0

.section__title
    color: #B44420
    @include logo
