
.blog__posts
    padding: 50px 0
    border-width: 3px 0 3px 0
    border-style: solid
    border-image: linear-gradient(to right, #B44420, #202020) 1
    display: flex
    justify-content: space-between

@media screen and (max-width: 1100px)
    .blog__posts
        gap: 30px


@media screen and (max-width: 700px)
    .blog__posts
        flex-direction: column
